.fitting {
  background-color: #eeeeee;

  &__content {
    display: flex;
    flex-direction: column;
  }

  &__title {
    font-size: 2.2375em;
    margin-top: 35px;
  }

  &__text {
    font-size: 20px;
    line-height: 1.7;
    margin: 20px 0;
  }

  &__image-wrap {
    display: flex;
    justify-content: space-between;

    & img {
      max-width: 550px;
      box-shadow: 0 15px 30px 0 #b3b3b3;
    }
  }

  &__desc {
    margin: 40px 0;

    & > p {
      margin-top: 10px;
      line-height: 1.7;
    }

    &-btn {
      font-size: 20px;
      padding: 0.4rem 1.3rem;
      background: #F5F5F5;
      border: 1px solid #BB8C5F;
      color: #BB8C5F;
    }

    &-cross {
      line-height: 0;
      font-family: serif;
      font-size: 36px;
      color: red;
    }
  }
}

@media screen and (max-width: 1120px) {
  .fitting {
    &__image-wrap {
      flex-direction: column;
      & img:nth-child(odd) {
        margin-bottom: 40px;
      }
    }
  }

}
