#widget__img {
  position: absolute;
  transform-origin: 24% center;
}

.widget {
  &__wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    background: rgba(0, 0, 0, 0.7);
  }

  &__content {
    position: fixed;
    max-width: 750px;
    max-height: 650px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-auto-rows: 2fr 1fr;
  }

  &__close {
    position: absolute;
    padding: 0 25px;
    color: #6a6a6a;
    right: 0;
    font-family: none, serif;
    font-size: 52px;
    cursor: pointer;
  }

  &__image-wrap {
    background: #F6F6F6;
    overflow: hidden;
    border-radius: 10px;
    position: relative;
    user-select: none;
  }

  &__cross {
    cursor: move;
    height: 32px;
    position: absolute;
    -ms-touch-action: none;
    touch-action: none;
    width: 32px;
    z-index: 20;

    &:before, &:after {
      background: #f22a42;
      content: "";
      height: 2px;
      left: 0;
      position: absolute;
      top: 15px;
      -webkit-transition: -webkit-transform .5s ease;
      transition: -webkit-transform .5s ease;
      transition: transform .5s ease;
      transition: transform .5s ease, -webkit-transform .5s ease;
      width: 32px;
    }

    &:after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

  &__info {
    max-width: 400px;
    padding: 30px 25px;
  }

  &__title {
    font-size: 20px;
    line-height: 24px;
    font-weight: bold;
  }

  &__btn {
    display: flex;
    margin: 15px auto;
    background: #000000;
    border-radius: 50px;
    padding: 10px 25px;
    color: white;
    font-size: 18px;
    font-family: sans-serif;
    font-weight: bold;
    line-height: 20px;
    cursor: pointer;
  }

  &__desc {
    margin-top: 10px;
    font-family: sans-serif;
    font-size: 16px;
    color: #2D2D2D;
  }

  &__glasses {
    grid-column-start: 1;
    grid-column-end: 3;

    &-subtitle {
      font-size: 22px;
      font-family: sans-serif;
      padding: 35px 15px 15px;
      font-weight: bold;
    }

    &-img-wrap {
      display: flex;
      justify-content: space-around;
    }

    &-img-item {
      text-align: center;
      width: 25%;
      cursor: pointer;
    }

    &-text {
      font-size: 18px;
      font-family: sans-serif;
    }
  }

  &__settings {
    padding-top: 15px;
    margin-left: 20px;

    &-back {
      background: url("src/assets/images/widget/back.png") no-repeat;
      background-size: cover;
      height: 25px;
      width: 25px;
      cursor: pointer;
    }

    &-title {
      margin: 20px 0;
    }

    &-item {
      font-family: Open Sans, sans-serif;
      font-size: 18px;
      padding: 10px 0;
    }

    &-input {
      display: inline-block;
      width: 50px;
      font-size: 22px;
      border: 1px solid #ADA7A7;
      border-radius: 5px;
      margin-left: 20px;
      margin-top: 15px;
      padding: 5px;
      color: #919191;
    }

    &-subtitle {
      font-weight: bold;
      margin-bottom: 15px;
    }
  }
}

.file-upload {
  position: absolute;
  bottom: 10px;
  padding: 0 10px;
  height: 42px;
  background: #FFFFFF;
  border: 1px solid #E1E1E1;
  box-shadow: 0 0 4px 1px rgb(0 0 0 / 3%);
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 195px;

  & label {
    display: block;
    cursor: pointer;
  }

  &__icon {
    background: url('src/assets/images/widget/Color.png') no-repeat center;
    height: 40px;
    width: 40px;
    position: absolute;
  }

  & span {
    padding-left: 38px;
    line-height: 40px;
    font-weight: bold;
  }
}

#uploadImg {
  display: none;
}

