<header class="header">
  <div class="container">
    <div class="header-up">
      <div class="header-up__contacts">
        <div class="contacts-phone">
          <div class="contacts-phone__call">
            <svg class="contacts-phone__call-logo" fill="none" height="21" viewBox="0 0 21 21"
                 width="21" xmlns="http://www.w3.org/2000/svg">
              <path clip-rule="evenodd"
                    d="M1 3.37753L4.30288 1.00627C4.30288 1.00627 4.39654 0.906274 5.00967 1.50499C5.6228 2.10371 7.73825 4.86252 7.73825 4.86252L7.01421 7.88282L12.633 13.4993L15.6524 12.7763L18.9923 15.2441L19.5089 16.2115L17.1375 19.5142L13.5132 19.4803L1.03389 7.00169L1 3.37753Z"
                    fill-rule="evenodd"
                    stroke="#FAF6F2" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5"/>
            </svg>
            <p class="contacts-phone__call-number">+7 939 755-95-25</p>
          </div>
          <div class="contacts-phone__social">
            <ul class="social-list">
              <li class="social-list__element"><a class="social-list__link" href="#">Viber</a></li>
              <li class="social-list__element"><a class="social-list__link" href="#">Whats App</a></li>
              <li class="social-list__element"><a class="social-list__link" href="#">Telegram</a></li>
            </ul>
          </div>
        </div>
        <div class="contacts-mail">
          <div class="contacts-mail__icon">
          </div>
          <p class="contacts-mail__email">optima@mail.ru</p>
        </div>
      </div>
      <div [routerLink]="NavigationPath.Home" class="logo">
        <img alt="#" src="../../../../assets/images/header/header-up/logo.png">
      </div>
      <div class="header-up__user-info">
        <div class="user-info__list">
          <a [routerLink]="NavigationPath.Cart" class="user-info__basket">
            <p class="basket-price">{{totalPrice}} &#8381;</p>
            <div class="basket__icons"></div>
            <span class="basket__count">
              {{countItem}}
            </span>
          </a>
          <a [routerLink]="NavigationPath.Liked" class="user-info__favorites" href="#">
            <span class="liked-products__count">{{favoriteItemsCount}}</span>
          </a>
        </div>
      </div>
    </div>
    <div class="header-stick">
      <div id="triangle-right"></div>
      <div id="triangle-left"></div>
    </div>
    <div class="header-down">
      <div class="header-down__menu"

      >
        <p class="header-down__menu__title">
          Каталог
        </p>
        <div
          (click)="changeToggle()"
          [ngClass]="{
          change: toggle,
          none: !toggle
          }"
          class="menu__hamburger"
        >
          <div class="bar-top"></div>
          <div class="bar-center"></div>
          <div class="bar-bottom"></div>
        </div>
        <div *ngIf="toggle"
             class="header-down__menu-toggle"
        >
          <div class="menu-toggle__diamond"></div>
          <app-hide-menu
          ></app-hide-menu>
        </div>
      </div>
      <div class="header-down__search">
        <form>
          <div class="header-down__search__icon"></div>
          <input (keyup)="search($event)" [(ngModel)]="searchString" class="header-down__search__input"
                 name="searchItem"
                 placeholder="Поиск" type="text">
        </form>
      </div>
      <div class="header-down__navbar">
        <div [routerLink]="NavigationPath.Fitting" class="header-down__navbar__item"><p
          class="header-down__navbar__text">Онлайн
          примерка</p>
          <div class="header-down__navbar__line">
            <div class="diamond"></div>
          </div>
        </div>
        <div class="header-down__navbar__item">
          <button [routerLink]="NavigationPath.AboutCompany" class="header-down__navbar__text">О нас</button>
          <div class="header-down__navbar__line">
            <div class="diamond"></div>
          </div>
        </div>
        <div class="header-down__navbar__item">
          <button [routerLink]="NavigationPath.Contacts" class="header-down__navbar__text">Контакты</button>
          <div class="header-down__navbar__line">
            <div class="diamond"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
