.favorite {
  &__title {
    padding: 50px 0;
  }

  &__products {
    display: flex;
    justify-content: flex-start;
    margin-right: 1rem;
    padding-bottom: 50px;
  }
}

.favorite__container {
  background-color: #eee;
  height: 80vh;
}

.item {
  width: 290px;
  height: 280px;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in-out;
  margin-right: 1rem;

  &__info {
    cursor: pointer;
  }

  &__title {
    letter-spacing: -1px;
    font-size: 0.85rem;
    color: var(--text-color);
  }

  &__price {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gold-color);;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
  }

  &__btn {
    margin-bottom: 20px;
    padding: 0.2rem 1.25rem;
    font-size: 1rem;
    margin-right: 0;
  }

  &__quantity {
    margin-bottom: 20px;
  }

  &__btns {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0px 30px;
  }

  &__image {
    img {
      height: 145px;
    }

  }

  &:hover {
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  }
}


.icon {
  width: 290px;
  position: absolute;

  &__btn {
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--gold-color);
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

.red {
  color: red;
}

.quantity-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__btn {
    margin-right: 0;
    color: var(--text-color);
    padding: 7px 12px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: .85rem;
    color: var(--text-color);
  }

  &__in-cart {
    font-size: .85rem;
    color: #D0D0D0;
  }
}

.empty-list {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 70px;
  padding-bottom: 100px;
}
