@background-color: #eeeeee;
@header-color: #3E424B;
@border-color: rgba(187, 140, 95, 0.3);
@text-button: rgb(255, 250, 250);

.order {
  background: @background-color;
  min-width: 300px;
  height: 100%;
}

.order__content {
  display: flex;
  justify-content: center;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 18px;
  font-family: Jost, sans-serif;
  color: #050402;

  .order__forms {
    display: flex;
    border: 2px solid @border-color;

  }
}

.order__forms_left {
  margin: 2em;
  flex: 70%;
  color: @header-color;

  input, textarea {
    display: flex;
    width: 600px;
    box-sizing: border-box;
    height: 40px;
    resize: none;
    outline: none;
    padding-left: 1em;
    flex-direction: column;
    border: 0.8px solid #a0a0a0;
    background: @background-color;
    font-size: 16px;
  }

  small {
    color: @header-color;
  }

  textarea {
    height: 80px;
  }

  label {
    color: @header-color;

    small {
      color: rgb(255, 102, 0);
    }
  }


}

.order__button {
  width: 250px;
  height: 40px;
  margin-top: 1em;
  background-color: rgb(255, 102, 0);
  border: transparent;
  cursor: pointer;
  color: @text-button;
}

.order__button:disabled {
  background-color: rgba(255, 102, 0, 0.3);
  cursor: auto;
}

.order__forms_right {
  flex: 30%;
  border-left: 1px solid @border-color;


  .order__header, .order__info, .order__total-price {
    border-bottom: 1px solid @border-color;
  }

  .order__header h3 {
    margin: 1em;
    line-height: 130%;
    font-size: 24px;
  }

  .order__info {

    .order__info_main {
      color: rgb(187, 140, 95);
      margin: 1em;
    }

    .order__info-price {
      display: flex;
      justify-content: space-between;
      margin: 1em;

      .order__info-price_right {
        margin-left: 1em;
      }
    }

  }

  .order__total-price {
    p {
      margin: 1em;
    }

    display: flex;
    justify-content: space-between;

    .order__total-price_bold {
      font-weight: bold;

    }
  }
}

.order__description {

  width: 600px;
  margin-bottom: 30px;
  display: flex;
  color: #050402;

  .description__element {
    width: 10px;
    height: 50px;
    background-color: rgb(255, 102, 0);
    margin-right: 10px;
  }

  .description__text {

    font-style: normal;
    font-weight: normal;
    line-height: 130%;

  }
}

.order__title {
  padding-top: 5px;
  font-family: Forum, serif;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  line-height: 100%;
  text-align: center;
  color: @header-color;
}

.order__registration {
  display: flex;
  justify-content: space-between;
}
.order__success{
  margin-top: 2em;
  color: seagreen;
  font-size: 16px;
}
.order__message {
  font-size: 14px;
  color: @header-color;

  small {
    color: rgb(255, 102, 0);
  }
}
