<div class="order">
  <h3 class="order__title">Оформление заказа</h3>
  <div class="order__content container">

    <form (ngSubmit)="submit()" [formGroup]="userData">
      <div class="order__forms">
        <div class="order__forms_left">
          <div class="order__description">
            <div class="description__element"></div>
            <div class="description__text"> Заполните простую форму и наши менеджеры свяжутся с вами, ответят на любые
              вопросы и подготовят счет
              на оплату.
            </div>
          </div>
          <div
            [ngClass]="{invalid: userData.get('fio').touched && userData.get('fio').invalid}"
            class="form-control"
          >
            <label for="fio">ФИО: <small>*</small></label>
            <input formControlName="fio" id="fio" type="text">
            <div
              *ngIf="userData.get('fio').touched && userData.get('fio').invalid"
              class="validation"
            >
              <small *ngIf="userData.get('fio').errors?.required">Введите ФИО</small>
              <small *ngIf="userData.get('fio').errors?.maxlength">Количество символов должно быть
                меньше {{userData.get('fio').errors?.maxlength.requiredLength}}</small>
              <small *ngIf="userData.get('fio').errors?.pattern">Введите корректное ФИО</small>
            </div>
          </div>
          <div
            [ngClass]="{invalid: userData.get('phone').touched && userData.get('phone').invalid}"
            class="form-control"
          >
            <label for="phone">Контактный номер телефона: <small>*</small></label>
            <input formControlName="phone" id="phone" type="phone">
            <div
              *ngIf="userData.get('phone').touched && userData.get('phone').invalid"
              class="validation"
            >
              <small *ngIf="userData.get('phone').errors?.required">Введите номер телефона</small>
              <small *ngIf="userData.get('phone').errors?.pattern">Введите корректный номер</small>
            </div>
          </div>
          <div
            [ngClass]="{invalid: userData.get('email').touched && userData.get('email').invalid}"
            class="form-control"
          >
            <label for="email">Email: <small>*</small></label>
            <input formControlName="email" id="email" type="email">
            <div
              *ngIf="userData.get('email').touched && userData.get('email').invalid"
              class="validation"
            >
              <small *ngIf="userData.get('email').errors?.required">Введите Email</small>
              <small *ngIf="userData.get('email').errors?.email">Введите корректный Email</small>
            </div>
          </div>
          <div
            [ngClass]="{invalid: userData.get('address').touched && userData.get('address').invalid}"
            class="form-control"
          >
            <label for="address">Адрес доставки: <small>*</small></label>
            <input formControlName="address" id="address" type="text">
            <div
              *ngIf="userData.get('address').touched && userData.get('address').invalid"
              class="validation"
            >
              <small ) *ngIf="userData.get('address').errors?.required">Введите адрес доставки</small>
              <small *ngIf="userData.get('address').errors?.pattern">Введите корректный адрес</small>
            </div>
          </div>
          <div
            class="form-control"
          >
            <label for="comment">Комментарий к заказу:</label>
            <textarea id="comment"></textarea>
          </div>
          <div class="order__registration">

            <button [disabled]="userData.invalid || userData.disabled"
                    class="order__button"
                    type="submit"
            >Оформить
            </button>
            <div *ngIf="userData.invalid || userData.disabled">
              <p class="order__message"><small>*</small> - обязательные поля</p>
            </div>
            <div class="order__success" *ngIf="(!userData.invalid || !userData.disabled) && _isSave">
              Ваш заказ успешно оформлен!
            </div>
          </div>
        </div>
        <div class="order__forms_right">
          <div class="order__header">
            <h3>Ваш заказ</h3>
          </div>
          <div *ngFor="let product of cartItems">
            <div class="order__info">
              <p class="order__info_main">{{product.product.title}}</p>
              <div class="order__info-price">
                <p>Цена: {{product.price}} x {{product.quantity}} </p>
                <p class="order__info-price_right">{{product.price * product.quantity}} Р</p>
              </div>
            </div>
          </div>
          <div class="order__total-price">
            <p>Итого:</p>
            <p class="order__total-price_bold">{{totalPrice}} Р</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
