<div class="hide__menu">
  <div class="menu-top">
    <div
      (click)="openCategory()"
      [ngClass]="{
      active: categoryIsOpen,
      none: !categoryIsOpen
      }"
      class="menu-top__item"
    >
      <a class="menu-top__link">По категории
      </a>
      <div class="menu-top__line">
        <div class="line__diamond-left"></div>
        <div class="line__diamond-right"></div>
      </div>
    </div>
    <div (click)="openBrand()"
         [ngClass]="{
         active: brandIsOpen,
         none: !brandIsOpen
    }"
         class="menu-top__item"
    >
      <a class="menu-top__link">По брендам</a>
      <div class="menu-top__line">
        <div class="line__diamond-left"></div>
        <div class="line__diamond-right"></div>
      </div>
    </div>
  </div>
  <div class="header-stick">
    <div id="triangle-right"></div>
    <div id="triangle-left"></div>
  </div>
  <div class="hide__menu-down">
    <div *ngIf="categoryIsOpen"
         class="menu-down__catalog"
    >
      <ul class="catalog-item__list">
        <li><a (click)="navigateToCatalog('')">Все товары</a></li>
        <li *ngFor="let category of categoryList"><a (click)="navigateToCatalog(category)">{{category}}</a></li>
      </ul>
    </div>
    <div *ngIf="brandIsOpen"
         class="menu-down__brand"
    >
      <ul class="brand-item__list">
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
      </ul>
      <ul class="brand-item__list">
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
      </ul>
      <ul class="brand-item__list">
        <li><a href="#"></a>asdosaish</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
        <li><a href="#"></a>1</li>
      </ul>
    </div>
  </div>
</div>

