<div class="container cart">
  <div *ngIf="products.length; else cartEmpty" class="card-table">
    <div class="cart__title">
      <h1 class="title-section">Корзина</h1>
    </div>
    <div class="cart-product">
      <table class="table">
        <thead>
        <tr>
          <th>Номер товара</th>
          <th>Изображение</th>
          <th>Название</th>
          <th>Цена</th>
          <th>Количество</th>
          <th>Действие</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of products">
          <td class="cart-product__id">{{product._id.substr(0, 6)}}</td>
          <td>
            <img alt="" class="cart-product__image" src="./assets/images/glasses/{{product.product.image}}">
          </td>
          <td class="cart-product__text">{{product.product.title}}</td>
          <td class="cart-product__price">{{product.price}} Р</td>
          <td>
            <div class="cart-product__quantity quantity">
              <button (click)="decrementQuantity(product)" class="quantity__btn">&ndash;</button>
              <p class="quantity__text">{{product.quantity}}</p>
              <button (click)="incrementQuantity(product)" class="quantity__btn">+</button>
            </div>
          </td>
          <td>
            <button (click)="removeProduct(product)" class="btn-close">
              <i class="fas fa-times"></i>
            </button>
          </td>
        </tr>
        <tr>
          <td colspan="4">
            <div class="total-price">Общая стоимость:
              <p class="cart-product__price total-price__value">
                {{grandTotal}} Р
              </p>
            </div>
          </td>
          <td>
            <button (click)="emptyCart()" class="btn-danger cart-btn">Очистить</button>
          </td>
          <td>
            <button [routerLink]="['/'+NavigationPath.Ordering]" class="btn-success cart-btn">Оформить заказ</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<ng-template #cartEmpty>
  <div class="empty-cart">
    <img alt="" src="../../../../assets/images/cart/emptycart.jpg">
    <button [routerLink]="['/'+NavigationPath.Catalog]" class="empty-cart__btn btn">Перейти в каталог</button>
  </div>
</ng-template>
