@import url('https://fonts.googleapis.com/css2?family=Forum&family=Jost&display=swap');

.preview {
  background-color: var(--primary-color);
  display: flex;
  min-height: 85vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  &__content {
    display: flex;
    justify-content: space-between;
  }

  &__info {
    width: 40%;
  }

  &__title {
    font-family: Forum, serif;
    color: var(--hover-text);
    font-size: 70px;
  }

  &__text {
    font-family: Jost, serif;
    font-size: 25px;
    color: #faf6f2;
  }

  &__catalog {
    margin: 20px 0;

    & button {
      font-family: "Open Sans", sans-serif;
      background-color: var(--dark-orange-color);
      color: #fff;
      padding: 14px 23px;
      border: 2px var(--hover-text) solid;
      border-radius: 3px;
      cursor: pointer;
    }
  }
}

.slider {
  display: flex;
  flex-direction: column;
  width: 44px;
  justify-content: center;

  &__prev {
    background: url("src/assets/images/preview/side-up.png") no-repeat;
  }

  &__next {
    background: url("src/assets/images/preview/side-down.png") no-repeat;
  }

  &__prev,
  &__next {
    cursor: pointer;
    font-size: 14px;
    height: 91px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  &__item {
    width: 20px;
    height: 20px;
    border: 1px var(--dark-orange-color) solid;
    margin: 0 auto 20px;
  }

  &__item_active:after {
    content: "";
    display: block;
    margin: 3px auto;
    background: var(--hover-text);
    width: 12px;
    height: 12px;
  }
}

@media screen and (max-width: 800px) {
  .preview__content {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .preview__info {
    width: 80%;
  }

  .slider {
    transform: rotate(90deg);
  }
}
