<section [ngStyle]="{'background-image': 'url(' + previews[selectedPreview].url + ')'}" class="preview">
  <div class="container">
    <div class="preview__content">
      <div class="preview__info">
        <h1 class="preview__title">{{previews[selectedPreview].title}}</h1>
        <p class="preview__text">
          {{previews[selectedPreview].description}}
        </p>
        <div class="preview__catalog">
          <button>Смотреть каталог</button>
        </div>
      </div>
      <div class="slider">
        <div (click)="previous()" (keyup.enter)="previous()" class="slider__prev"></div>
        <div *ngFor="let preview of previews; let index = index" class="slider__items">
          <div (click)="selectedPreview = index"
               [className]="selectedPreview === index ? 'slider__item slider__item_active' : 'slider__item'">
          </div>
        </div>
        <div (click)="next()" (keyup.enter)="next()" class="slider__next"></div>
      </div>
    </div>
  </div>
</section>
