.products-items {
  background-color: #eee;
  font-family: 'Jost', sans-serif;
}

.cart-top {
  padding: 20px 0;
  display: flex;
  flex-wrap: wrap;

  &__btn {
    padding: 0.7rem 1.2rem;
    font-size: 1rem;
  }
}

.catalog__item {
  border: 1px solid var(--dark-color);
  padding: 10px;
  border-radius: 5px;
  transition: background-color, color 1s;

  &:hover {
    background-color: var(--dark-color);

    a {
      color: var(--font-text);
    }
  }
}

.products {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 50px;

  &__item {
    width: 290px;
    height: 280px;
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 20px;
    transition: transform 0.3s;
    margin-right: 1rem;

    &:nth-child(4n) {
      margin-right: 0;
    }

    img {
      width: 100%;
    }
  }
}

.products__title {
  padding-top: 30px;
}

.filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;

  &__text {
    color: var(--opacity-text);
    font-size: 0.85rem;
    margin-right: 1rem;
  }
}

.filtered {
  display: flex;
  align-items: center;

  &__price {
    display: flex;
    align-items: center;
  }

  &__dash {
    padding: 0 3px;
  }

  &__input {
    font-size: 0.75rem;
    color: var(--text-color);
    border: 1px solid var(--text-color);
    padding: 0.45rem 0.8rem;
    width: 85px;
  }

  &__select {
    font-size: 0.85rem;
    color: var(--text-color);
    font-weight: bold;
    border: 1px solid var(--text-color);
    padding: 0.45rem 0.8rem;
  }

  &__radio {
    display: none;
  }

  &__label {
    padding: 1em;
    border: 1px solid var(--gold-color);
    box-sizing: border-box;
    cursor: pointer;
  }

}

.validation {
  color: var(--danger-color)
}

.validation__text {
  position: absolute;
}

.item {
  &__info {
    cursor: pointer;
  }

  &__title {
    letter-spacing: -1px;
    font-size: 0.85rem;
    color: var(--text-color);
  }

  &__price {
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gold-color);;
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 30px;
    height: 60px;
  }

  &__btn {
    display: none;
    margin-bottom: 20px;
    padding: 0.2rem 1.25rem;
    font-size: 1rem;
    margin-right: 0;
  }

  &__quantity {
    margin-bottom: 20px;
  }

  &__btns {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 30px;
  }

  &:hover {
    transform: scaleY(1.15);
    box-shadow: 0 5px 10px 2px rgba(34, 60, 80, 0.2);

    .item__btn {
      display: block !important;
    }
  }
}

.quantity-info {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__btn {
    margin-right: 0;
    color: var(--text-color);
    padding: 7px 12px;
  }

  &__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__title {
    font-size: .85rem;
    color: var(--text-color);
  }

  &__in-cart {
    font-size: .85rem;
    color: #D0D0D0;
  }
}

.load-more {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;

  &__btn {
    padding: 0.9rem 3rem;
  }
}

.loader {
  display: flex;
  justify-content: center;
  padding-bottom: 100px;
}

.preloader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.empty-list {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  font-weight: bold;
  padding-top: 70px;
  padding-bottom: 100px;
}

.icon {
  width: 290px;
  position: absolute;

  &__btn {
    width: 30px;
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
    padding: 5px;
    font-size: 20px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: var(--gold-color);
    transition: opacity 0.15s ease-in-out;

    &:hover {
      opacity: 0.7;
    }
  }
}

.red {
  color: red;
}
