<div class="review">
  <div class="review__content">
    <div class="review__title">Отзывы</div>
    <input checked id="desktop" name="respond" type="radio">
    <article id="slider">
      <input (click)="slideClick(0)" checked id="switch1" name="slider" type="radio">
      <input #init (click)="slideClick(1)" id="switch2" name="slider" type="radio">
      <input (click)="slideClick(2)" id="switch3" name="slider" type="radio">
      <input (click)="slideClick(3)" id="switch4" name="slider" type="radio">
      <input (click)="slideClick(4)" id="switch5" name="slider" type="radio">
      <div id="slides">
        <div id="overflow">
          <div class="slide">
            <!--            <article [class.slide-active]="i===slideCounter" [class.first-slide]="i===0" *ngFor ="let review of reviews.slice(0,5),let i=index">-->
            <article *ngFor="let review of reviews, let i = index" [class.first-slide]="i===0"
                     [class.slide-active]="i===slideCounter">
              <div class="slide-content">
                <div class="slide-content__photo">
                  <img src="/assets/images/review/{{review.photo}}">
                </div>
                <div class="slide-content__card card">
                  <p class="card__text">{{review.comment}}</p>
                  <div class="card__info">
                    <img src="assets/images/review/inst.png">
                    <p class="card__user">@{{review.userName}}</p>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
      <div id="controls">
        <label for="switch1"></label>
        <label for="switch2"></label>
        <label for="switch3"></label>
        <label for="switch4"></label>
        <label for="switch5"></label>
      </div>
      <div id="active">
        <label for="switch1"></label>
        <label for="switch2"></label>
        <label for="switch3"></label>
        <label for="switch4"></label>
        <label for="switch5"></label>
      </div>
    </article>
  </div>
</div>
