//var
@background-color: #eeeeee;
@block-color: #050402;
@border-color: #BB8C5F;
@text-color: #D0D0D0;


.review {
  background: @background-color;
  //height: 575px;
  min-width: 300px;
  padding: 40px 0;

  &__content {
    height: 100%;
    position: relative;
  }

  &__title {
    font-family: Forum, serif;
    font-size: 60px;
    font-style: normal;
    font-weight: normal;
    line-height: 100%;
    text-align: center;
    color: #3E424B;
  }

  input {
    display: none;
  }
}

#slider {
  height: 100%;
  //position: relative;
  text-align: center;
  top: 10px;
  margin: 0 auto;
}

#slides {

  article {
    margin-left: 40px;
  }

  .slide {
    display: flex;
    height: 100%;
    transition: all 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
  }
}

#overflow {
  width: 100%;
  overflow: hidden;
}


#desktop:checked ~ #slider {
  max-width: 3200px;
}

.slide {
  .first-slide {
    padding-left: 640px;
  }
}

@media screen and (max-width: 1320px) {
  .slide {
    .first-slide {
      padding-left: 40px;
    }
  }
}

#switch1:checked ~ #controls label:nth-child(5),
#switch2:checked ~ #controls label:nth-child(1),
#switch3:checked ~ #controls label:nth-child(2),
#switch4:checked ~ #controls label:nth-child(3),
#switch5:checked ~ #controls label:nth-child(4) {
  background: url(src/assets/images/review/prev.png) no-repeat;
  float: left;
  margin-top: 130px;
  display: block;
  margin-left: 45px;
  height: 50px;
  width: 50px;
  position: relative;
}


#switch1:checked ~ #controls label:nth-child(2),
#switch2:checked ~ #controls label:nth-child(3),
#switch3:checked ~ #controls label:nth-child(4),
#switch4:checked ~ #controls label:nth-child(5),
#switch5:checked ~ #controls label:nth-child(1) {
  background: url(src/assets/images/review/next.png) no-repeat;
  float: right;
  margin-top: 130px;
  display: block;
  height: 50px;
  width: 50px;
  position: relative;
}

label {
  height: 100%;
  cursor: pointer;


}

#switch1:checked ~ #slides .slide {
  margin-left: 0;
}

#switch2:checked ~ #slides .slide {
  margin-left: -640px;
}

#switch3:checked ~ #slides .slide {
  margin-left: -1280px;
}

#switch4:checked ~ #slides .slide {
  margin-left: -1920px;
}

#switch5:checked ~ #slides .slide {
  margin-left: -2560px;
}

#controls {
  margin: -25% 0 0 0;
  width: 100%;
  height: 50px;

}

#active label {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 18px;
  box-shadow: 0 0 0 1.5px @background-color, 0 0 0 3px #524336;
  box-sizing: border-box;

}


#active {
  margin: 23% 0 0;
  text-align: center;
}

#active label:hover {
  background: #BB8C5F;
}

#switch1:checked ~ #active label:nth-child(1),
#switch2:checked ~ #active label:nth-child(2),
#switch3:checked ~ #active label:nth-child(3),
#switch4:checked ~ #active label:nth-child(4),
#switch5:checked ~ #active label:nth-child(5) {
  background: #BB8C5F;
}

#controls label:hover {
  opacity: 0.6;
}

#controls label {
  transition: opacity 0.2s ease-out;

}

.slide-active {
  padding-top: 60px;
}

.slide-content {

  .slide-content__photo {
    width: 80px;
    height: 80px;
    margin-left: 50px;
    margin-bottom: -30px;
    position: relative;
    border: 3px solid @border-color;
  }

  .slide-content__card {
    height: 100%;
    width: 600px;
    min-height: 300px;
    display: flex;
    align-self: flex-end;
    flex-direction: column;
    background: @block-color;
    border: 2px solid @border-color;
    box-sizing: border-box;

    .card__text {
      margin-left: 50px;
      margin-top: 25px;
      margin-right: 50px;
      font-family: Jost, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 17px;
      line-height: 140%;
      color: @text-color;
      text-align: left;
    }

    .card__info {
      display: flex;
      height: 40px;
      width: 40px;
      margin-left: 50px;
      margin-top: 50px;
    }

    .card__user {
      font-family: Forum, sans-serif;
      font-style: normal;
      font-weight: normal;
      font-size: 20px;

      line-height: 130%;
      color: @border-color;
      margin-left: 15px;
      margin-top: 10px;
    }
  }
}


@media screen and (max-width: 732px) {
  .slide-content {
    .slide-content__card {
      width: 435px;
    }
  }
}

