<div class="container about-company">
  <div class="about-company__title">
    <h1 class="title-section">Компания Optima</h1>
  </div>
  <div class="about-company__text">
    <p>
      Optima — это динамично-развивающийся проект, созданный командой специалистов с целью
      развития оптической культуры. Мы знаем, насколько важно грамотно и точно подобрать оправу или солнцезащитные
      очки учитывающие рекомендации офтальмолога, а также стилистически и эстетически подходящую именно вам и вашему
      образу.
    </p>
    <p>
      Удобная интуитивная навигация сайта позволяет легко подобрать вам оправу или солнцезащитные очки по вашему
      вкусу.
    </p>
    <p>Наш призыв - начните уделять серьезное внимание своим глазам и своему зрению.</p>
    <p>
      Мы работаем напрямую с ведущими мировыми поставщиками и производителями — это означает 100 % лицензионное
      качество
      товаров и доступные цены.
    </p>
    <p>
      Сегодня в каждом нашем магазине оптики представлены очки по цене, которая устроит даже самого требовательного
      покупателя. Если вам необходимы качественные оправы, модные солнцезащитные очки - посетите любой из 38 магазинов!
      А
      тех, кто часто заходит в оптику за контактными линзами, мы также приглашаем в наш интернет-магазин Optima.
    </p>
    <p> Оправы, как и солнцезащитные очки, требуют особого внимания при подборе. В нашей оптике работают опытные
      консультанты, которые учитывают всё до мелочей, перед тем как предложить покупателю те или иные очки.</p>
    <p>
      Мы уверены, что хорошие очки – это качественные линзы. На официальном сайте нашей оптики вы можете познакомиться с
      ассортиментом линз производства Германии, Италии, Кореи, Франции и России.
    </p>
    <p> Но все же стоит помнить оптика – это не только заказ очков. Одним из важных направлений работы компании является
      диагностика зрения. У нас трудятся врачи-офтальмологи и оптометристы с большим стажем. Особое внимание в компании
      уделяется детской офтальмологии. В большинстве салонов можно проверить зрение и выписать рецепт у детского
      окулиста.
    </p>
    <p>
      В список наших услуг входит также изготовление и ремонт любых очков. Приходите! Мы всегда рады видеть вас!
    </p>
  </div>
</div>
